
body{
    size: 800px;
    text-align: center;
    font-size: 100px;
    font-family: 'david';
    background-color: gray;
}
button{
    size: 800px;
    font-size: 25px;
    border: 5ch;
    color:rgb(79, 128, 134);
    background-color: rgb(255, 255, 255);
    border: thin;
    margin: 5px;
    float: left;
    border-radius: 30px;
}
hr{
    border-top: 15px solid teal;
}