body {
    font-size: 50px;
    font-family: 'david';
    background-image: url("images.jpg");
    background-repeat : no-repeat;
    background-size : 100%;
    text-align: center;
    color:antiquewhite;
    direction: rtl;
}

#headline {
    color: cornflowerblue;
}
a{
    text-align: center;
    direction: ltr;
    color: darkcyan;
}